<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
     backupStaticAttributes="false"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     processIsolation="false"
     stopOnFailure="false"
     syntaxCheck="false"
     bootstrap="test/bootstrap.php"
>
  <testsuites>
    <testsuite name="CradlePHP Meta Framework Test Suite">
    <file>test/FrameworkHandler.php</file>
    <file>test/Decorator.php</file>
    <file>test/Package/Config/ConfigPackage.php</file>
    <file>test/Package/Event/EventPackage.php</file>
    <file>test/Package/Http/HttpPackage.php</file>
    <file>test/Package/PDO/PDOPackage.php</file>
  </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./src</directory>
      <exclude>
        <directory>./vendor</directory>
        <directory>./test</directory>
        <file>src/Package/Event/.cradle.php</file>
        <file>src/Package/Http/.cradle.php</file>
        <file>src/Package/Resolver/.cradle.php</file>
        <file>src/Package/Terminal/.cradle.php</file>
        <file>src/Package/Config/.cradle.php</file>
        <file>src/Package/PDO/.cradle.php</file>
        <file>src/Package/Language/.cradle.php</file>
        <file>src/Package/Timezone/.cradle.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
